@import "compass/css3";
@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

body {
    #header {
    }
    #container {
        div {
            section {
                h2 {
                    margin-bottom: 4px;
                }
            }
        }
    }
    #footer {
        margin-top:50px;

        a:first-child {
            margin-right: 20px;
        }
        img {
            vertical-align:middle;
        }
    }
    ul.errorlist {
        color: #B94A48;
        @include inline-list;
    }
}
