<form method="post" action="{% url "django.contrib.auth.views.login" %}">
    <fieldset>
        <legend></legend>
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}<br />
    {% endif %}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="control-group">
        <label class="control-label" for="id_username">Epost / Brukernavn:</label>
        <div class="controls">
            {{ form.username }} {{ form.username.errors }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_password">Passord:</label>
        <div class="controls">
        {{ form.password }} {{ form.password.errors }}
        </div>
    </div>
    <div class="control-group">
        <a href="{% url "django.contrib.auth.views.password_reset" %}">Glemt passord eller brukernavn?</a>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Logg inn</button>
    </div>
    </fieldset>
</form>
