{% extends "base.html" %}
{% block title %}Endre passordet ditt{% endblock %}
{%block header%}
    {% include "nav.html" with active="password_change" %}
{%endblock%}
{% block content %}
<p>
Lar deg endre passordet til kontoen din. Passordet må være på minimum 8 tegn.
</p>
<p>
</p>
<form method="post" class="bp">
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}<br />
    {% endif %}
    {% csrf_token %}
    <label for="id_new_password1">Nytt passord:</label><br />
    {{ form.new_password1 }} {{ form.new_password1.errors }}<br />
    <label for="id_new_password2">Nytt passord (gjenta): </label><br />
    {{ form.new_password2 }} {{ form.new_password2.errors }}<br />
    <br />
    <input type="submit" value="Endre passord" /> eller <a href="/accounts/profile/">avbryt</a>
</form>
{% endblock %}

