{% extends "base.html" %}
{% block title %}Bekreft nytt passord{% endblock %}
{% block content %}
<p>
<!--Presents a form for entering a new password.-->
Vennligst velg et nytt passord. Ditt nye passord må være på miminum 8 tegn.
</p>
{% if validlink %}
    <form method="post">
        {{ form.non_field_errors }}
        {% csrf_token %}
        <table>
            <tr><th>{{ form.new_password1.errors }}<label for="id_new_password1">Nytt passord: </label></th><td>{{ form.new_password1 }}</td></tr>
            <tr><th>{{ form.new_password2.errors }}<label for="id_new_password2">Nytt passord (gjenta): </label></th><td>{{ form.new_password2 }}</td></tr>
        </table>
        <input type="submit" />
    </form>
{% else %}
    Nytt-passord-lenken er ikke gyldig eller har allerede blitt brukt.
    <!--The password reset link is not valid or allready used.-->
{% endif %}
{% endblock %}
