{% extends "base.html" %}
{% block title %}Få nytt passord{% endblock %}
{% block content %}
<div class="row-fluid">
    For å få tilsendt passord og brukernavn fyll ut epostadressen din.
    <!--Allows a user to reset their password by generating a one-time use link that can be used to reset the password, and sending that link to the user's registered email address.-->
    <form method="post" class="form-horizontal">
        <fieldset>
            <legend>Gi meg et nytt passord</legend>
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}<br />
            {% endif %}
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="id_email">Epostadresse:</label>
                <div class="controls">
                    {{ form.email }} {{ form.email.errors }}
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Gi meg et nytt passord</button> <a href="/accounts/profile/" class="btn">Avbryt</a>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}

