<!doctype html>
<html>
<head>
    <title>{%block title%}Userinfo{%endblock%}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/style/stylesheets/screen.css" type="text/css" media="screen, projection" /)>
    <link rel="stylesheet" href="/static/style/stylesheets/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/static/style/stylesheets/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    {%block headinc %}
    {%endblock%}
</head>
<body class="bp three-col">
    <header id="header">
    {%block header%}
    {% include "nav.html" %}
    {%endblock%}
    </header>
    <div id="container">
        {%block content%}
        {%endblock%}
    </div>
    <div id="footer">
    {%block footer %}
        <img src="/static/DNSlogo.png" />
    {%endblock%}
    </div>

    {%block tailinc %}
    {%endblock%}
</body>
</html>
