<!doctype html>
<html>
<head>
    <title>{%block title%}Userinfo{%endblock%}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}style/stylesheets/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ STATIC_URL }}style/stylesheets/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ STATIC_URL }}style/stylesheets/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    {%block headinc %}
    {%endblock%}
</head>
<body class="">
    <header id="header">
    {%block header%}
    {% include "nav.html" %}
    {%endblock%}
    </header>
    <div id="container" class="container-fluid">
        {%block content%}
        {%endblock%}
        <div id="footer" class="row-fluid">
        {%block footer %}
            <div class="span12">
                <a href="https://studentersamfundet.no"><img src="{{ STATIC_URL }}style/img/DNSlogo.png" width=100 height=100 /></a>
            </div>
        {%endblock%}
        </div>
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    {%block tailinc %}
    {%endblock%}
    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-52914-12']);
      _gaq.push(['_setDomainName', 'neuf.no']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</body>
</html>
