{% extends "base.html" %}
{% block headinc %}
    <script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="/static/js/status.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <header id="header">
        <nav>
            <h2>Hva vil du gjøre?</h2>
            <ul>
                <li><a href="{% url django.contrib.auth.views.password_change %}">Endre passord</a></li>
                {% if request.user.is_superuser %}
                <li><a href="/admin">Administrasjon</a></li>
                {% endif %}
                <li><a href="{% url main.views.logout %}">Logg ut</a></li>
            </ul>
        </nav>
    </header>
    <section class="column">
        <h2>Om deg</h2>
        <ul>
            <li>Brukernavn: {{ldap_user.username}}</li>
            <li>Navn: {{ldap_user.full_name}}</li>
            <li>Mail: {{ldap_user.email}}</li>
        </ul>
    </section>
    <section class="column">
        <h2>Dine grupper</h2>
        <ul>
        {% if groups %}
            <li>{{ private_group }}</li>
            {% for group in groups %}
                <li>{{ group }}</li>
            {% endfor %}
        {% else %}
            <li>Ingen grupper.</li>
        {% endif %}
        </ul>
    </section>
    <section class="column last">
        <h2>Dine tjenester</h2>
        <ul>
            <li>Klientmaskiner<span id="client_status"></span></li>
            <li>Trådløst nettverk<span id="wireless_status"></span></li>
        </ul>
    </section>
</div>
{%endblock%}
